@import url(../variables.css);
:root {
  --navbar-height: 80px;
}

nav {
  width: 100%;
  padding: 10px 0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: var(--clr-white);
}

nav > .logo,
nav > .hamburger {
  display: none;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 70%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

nav ul li {
  list-style: none;
}

nav ul li.menu {
  display: none;
}

nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--clr-text);
  display: inline-block;
}

nav ul li a.active, nav ul li a:hover:not(.logo) {
  color: var(--clr-red);
}

nav ul li a.active:after, nav ul li a:hover:not(.logo):after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

nav ul li a::after {
  display: block;
  content: '';
  border-bottom: solid 3px var(--clr-red);
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  -webkit-transform-origin: 0% 50%;
          transform-origin: 0% 50%;
}

nav ul li a.disabled {
  color: var(--clr-text) !important;
}

nav ul li a.disabled.active, nav ul li a.disabled:hover {
  color: var(--clr-text) !important;
}

nav ul li a.disabled::after {
  display: none;
}

nav ul li img {
  height: var(--navbar-height);
}

@media only screen and (max-width: 640px) {
  nav {
    padding: 10px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  nav > .logo {
    display: block;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: var(--navbar-height);
  }
  nav > .logo img {
    height: var(--navbar-height);
  }
  nav > .hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav > .hamburger > * {
    -webkit-transition: all .8s;
    transition: all .8s;
  }
  nav > .hamburger:hover {
    cursor: pointer;
  }
  nav > .hamburger:hover .line.top {
    -webkit-transform: translateY(15px) rotate(45deg);
            transform: translateY(15px) rotate(45deg);
  }
  nav > .hamburger:hover .line.bottom {
    -webkit-transform: translateY(-15px) rotate(-45deg);
            transform: translateY(-15px) rotate(-45deg);
  }
  nav > .hamburger:hover .line.middle {
    width: 0px;
    opacity: 0;
  }
  nav > .hamburger .line {
    height: 4px;
    border-radius: 5rem;
    width: 50px;
    background-color: var(--clr-text);
  }
  nav > .hamburger .line.middle {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
  nav > .hamburger .line:not(:last-child) {
    margin-bottom: 10px;
  }
  nav > .hamburger::after {
    content: 'menu';
    text-transform: uppercase;
    font-weight: 700;
  }
  nav ul {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */