@import url(../variables.css);
:root {
  --navbar-height: 80px;
}

nav {
  width: 100%;
  padding: 10px 0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: var(--clr-white);
}

nav > .logo,
nav > .hamburger {
  display: none;
}

nav ul .navcontent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 70%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

nav ul .navcontent li {
  list-style: none;
}

nav ul .navcontent li.menu {
  display: none;
}

nav ul .navcontent li a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--clr-text);
  display: inline-block;
}

nav ul .navcontent li a.active, nav ul .navcontent li a:hover:not(.logo) {
  color: var(--clr-red);
}

nav ul .navcontent li a.active:after, nav ul .navcontent li a:hover:not(.logo):after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

nav ul .navcontent li a::after {
  display: block;
  content: '';
  border-bottom: solid 3px var(--clr-red);
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  -webkit-transform-origin: 0% 50%;
          transform-origin: 0% 50%;
}

nav ul .navcontent li a.disabled {
  color: var(--clr-text);
}

nav ul .navcontent li a.disabled.active, nav ul .navcontent li a.disabled:hover {
  color: var(--clr-text);
}

nav ul .navcontent li a.disabled::after {
  display: none;
}

nav ul .navcontent li img {
  height: var(--navbar-height);
}

@media only screen and (max-width: 640px) {
  nav {
    padding: 10px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: fixed;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
  }
  nav > .logo {
    display: block;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: var(--navbar-height);
  }
  nav > .logo img {
    height: var(--navbar-height);
  }
  nav > .hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 99;
  }
  nav > .hamburger > * {
    -webkit-transition: all .8s;
    transition: all .8s;
  }
  nav > .hamburger:not(.open):hover .line, nav > .hamburger.open .line {
    height: 4px;
    border-radius: 5rem;
    width: 50px;
    background-color: var(--clr-text);
  }
  nav > .hamburger:not(.open):hover .line:not(:last-child), nav > .hamburger.open .line:not(:last-child) {
    margin-bottom: 10px;
  }
  nav > .hamburger:not(.open):hover .line.top, nav > .hamburger.open .line.top {
    -webkit-transform: translateY(15px) rotate(45deg);
            transform: translateY(15px) rotate(45deg);
  }
  nav > .hamburger:not(.open):hover .line.bottom, nav > .hamburger.open .line.bottom {
    -webkit-transform: translateY(-15px) rotate(-45deg);
            transform: translateY(-15px) rotate(-45deg);
  }
  nav > .hamburger:not(.open):hover .line.middle, nav > .hamburger.open .line.middle {
    width: 0px;
    opacity: 0;
  }
  nav > .hamburger:hover {
    cursor: pointer;
  }
  nav > .hamburger.open:hover .line,
  nav > .hamburger:not(.open) .line {
    height: 4px;
    border-radius: 5rem;
    width: 50px;
    background-color: var(--clr-text);
    -webkit-transform: unset;
            transform: unset;
    opacity: unset;
  }
  nav > .hamburger.open:hover .line.middle,
  nav > .hamburger:not(.open) .line.middle {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
  nav > .hamburger.open:hover .line:not(:last-child),
  nav > .hamburger:not(.open) .line:not(:last-child) {
    margin-bottom: 10px;
  }
  nav > .hamburger::after {
    content: 'menu';
    text-transform: uppercase;
    font-weight: 700;
  }
  nav ul {
    position: absolute;
    width: 0px;
    height: 0;
    -webkit-transition: width,height 1s;
    transition: width,height 1s;
    overflow: hidden;
  }
  nav ul li a.logo {
    display: none;
  }
  nav .open ~ ul {
    z-index: -1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    top: calc(var(--navbar-height) + 20px);
    right: -10%;
    height: 200vh;
    width: 250vw;
    background-color: var(--clr-menu);
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-line-pack: left;
        align-content: left;
    -webkit-transform: skew(0deg, -75deg) translateZ(-10px);
            transform: skew(0deg, -75deg) translateZ(-10px);
  }
  nav .open ~ ul > .navcontent {
    display: block;
    -webkit-transform: skew(0deg, 75deg) translate(130%, 20%);
            transform: skew(0deg, 75deg) translate(130%, 20%);
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: calc(100vh - var(--navbar-height) - 20px);
    opacity: 1;
  }
  nav .open ~ ul > .navcontent .menu {
    display: block;
  }
  nav .open ~ ul > .navcontent a {
    color: var(--clr-white);
    font-size: 2rem;
  }
  nav .open ~ ul > .navcontent a::after {
    display: none;
  }
  nav .open ~ ul > .navcontent a.disabled {
    color: var(--clr-white) !important;
  }
}
/*# sourceMappingURL=style.css.map */