@import url(../variables.css);

:root {
    --navbar-height: 80px;
}

nav {
    width: 100%;
    padding: 10px 0;
    height: fit-content;
    background-color: var(--clr-white);
    & > .logo,
    & > .hamburger {
        display: none;
    }
    ul {
        display: flex;
        flex-direction: row;
        width: 70%;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        li {
            list-style: none;
            &.menu {
                display: none;
            }

            a {
                text-decoration: none;
                text-transform: uppercase;
                font-weight: 600;
                color: var(--clr-text);
                display: inline-block;

                &.active,
                &:hover:not(.logo) {
                    color: var(--clr-red);
                    &:after {
                        transform: scaleX(1); 
                    }
                }
                &::after {
                    display: block;
                    content: '';
                    border-bottom: solid 3px var(--clr-red);  
                    transform: scaleX(0);  
                    transition: transform 250ms ease-in-out;
                    transform-origin:  0% 50%;
                }

                &.disabled {
                    color: var(--clr-text) !important;
                    &.active,
                    &:hover {
                        color: var(--clr-text) !important;
                    }
                    &::after {
                        display: none;
                    }
                }
            }

            img {
                height: var(--navbar-height);
            }
        }
    }
}

@media only screen and (max-width: 640px) {
    nav {
        padding: 10px 20px;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        & > .logo {
            display: block;
            width: fit-content;
            height: var(--navbar-height);
            img {
                height: var(--navbar-height);
            }
        }
        & > .hamburger {
            display: flex;
            flex-direction: column;
            align-items: center;
            & > * { transition: all .8s; }
            &:hover {
                cursor: pointer;
                .line {
                    &.top {
                        transform: translateY(15px) rotate(45deg);
                    }
                    &.bottom {
                        transform: translateY(-15px) rotate(-45deg);
                    }
                    &.middle {
                        width: 0px;
                        opacity: 0;
                    }
                }
            }
            .line {
                height: 4px;
                border-radius: 5rem;
                width: 50px;
                background-color: var(--clr-text);
                &.middle {
                    transform: translateX(-5px);
                }
                &:not(:last-child) {
                    margin-bottom: 10px;
                }
            }
            &::after {
                content: 'menu';
                text-transform: uppercase;
                font-weight: 700;
            }
        }
        ul {
            display: none;
        }
    } 
}