@import url(../variables.css);

:root {
    --navbar-height: 80px;
}

nav {
    width: 100%;
    padding: 10px 0;
    height: fit-content;
    background-color: var(--clr-white);
    & > .logo,
    & > .hamburger {
        display: none;
    }
    ul .navcontent {
        display: flex;
        flex-direction: row;
        width: 70%;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        li {
            list-style: none;
            &.menu {
                display: none;
            }

            a {
                text-decoration: none;
                text-transform: uppercase;
                font-weight: 600;
                color: var(--clr-text);
                display: inline-block;

                &.active,
                &:hover:not(.logo) {
                    color: var(--clr-red);
                    &:after {
                        transform: scaleX(1); 
                    }
                }
                &::after {
                    display: block;
                    content: '';
                    border-bottom: solid 3px var(--clr-red);  
                    transform: scaleX(0);  
                    transition: transform 250ms ease-in-out;
                    transform-origin:  0% 50%;
                }

                &.disabled {
                    color: var(--clr-text);
                    &.active,
                    &:hover {
                        color: var(--clr-text);
                    }
                    &::after {
                        display: none;
                    }
                }
            }

            img {
                height: var(--navbar-height);
            }
        }
    }
}

@media only screen and (max-width: 640px) {
    nav {
        padding: 10px 20px;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        position: fixed;
        transform-style: preserve-3d;
        
        & > .logo {
            display: block;
            width: fit-content;
            height: var(--navbar-height);
            img {
                height: var(--navbar-height);
            }
        }
        & > .hamburger {
            display: flex;
            flex-direction: column;
            align-items: center;
            z-index: 99;
            & > * { transition: all .8s; }
            &:not(.open):hover,
            &.open {
                .line {
                    height: 4px;
                border-radius: 5rem;
                width: 50px;
                background-color: var(--clr-text);
                &:not(:last-child) {
                    margin-bottom: 10px;
                }
                    &.top {
                        transform: translateY(15px) rotate(45deg);
                    }
                    &.bottom {
                        transform: translateY(-15px) rotate(-45deg);
                    }
                    &.middle {
                        width: 0px;
                        opacity: 0;
                    }
                }
            }
            &:hover {
                cursor: pointer;
            }

            &.open:hover .line,
            &:not(.open) .line {
                height: 4px;
                border-radius: 5rem;
                width: 50px;
                background-color: var(--clr-text);
                transform: unset;
                opacity: unset;
                &.middle {
                    transform: translateX(-5px);
                }
                &:not(:last-child) {
                    margin-bottom: 10px;
                }
            }
            &::after {
                content: 'menu';
                text-transform: uppercase;
                font-weight: 700;
            }
        }
        ul {
            position: absolute;
            width: 0px;
            height: 0;
            transition: width,height 1s;
            overflow: hidden;
            li a.logo {
                display: none;
            }
        }

        .open ~ ul {
            z-index: -1;
            display: flex;
            flex-direction: column;
            position: absolute;
            top: calc(var(--navbar-height) + 20px);
            right: -10%;
            height: 200vh;
            width: 250vw;
            background-color: var(--clr-menu);
            justify-content: flex-start;
            align-content: left;
            transform:  skew(0deg, -75deg) translateZ(-10px);
            & > .navcontent {
                transform:  skew(0deg, 75deg) translate(130%, 20%);
                width: fit-content;
                height: calc(100vh - var(--navbar-height) - 20px);
                opacity: 1;
                .menu {
                    display: block;
                }
                a {
                    color: var(--clr-white);
                    font-size: 2rem;
                    &::after {
                        display: none;
                    }
                    &.disabled {
                        color: var(--clr-white) !important;
                    }
                }
            }
            
        }
    } 
}