:root {
    --clr-red: #D51D1D;
    --clr-text-red: #8F211A;
    --clr-warning: #ffcdd2;
    --clr-bg: #f1f1f1;
    --clr-white: #fefefe;
    --clr-menu: #661a1af3;
    --clr-text: #181818;
    --clr-gold: #D09818;
    --clr-gold-hvr: #966a03;
    --clr-gray: #6C6C6C;
    --clr-gray-trans: #292929bd;
    --clr-gray-1: #1d1d1d;
    --clr-text-gray: #cfcfcf;
}