.maintenance {
    display: flex;
    margin: 0 50px;
    align-items: center;
    justify-content: center; 
    height: 100%;
    gap: 150px;
    .left {
        width: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .progress-bar {
            position: relative;
            width: 20vw;
            height: 20px;
            margin-top: 50px;
            background-color: var(--clr-gray);

            &::before,
            &::after {
                position: absolute;
                top: 20px;
            }

            &::before {
                content: '0%';
                left: 0;
            }

            &::after {
                content: '100%';
                right: 0;
            }

            .progress {
                height: 100%;
                width: 20%;
                background-color: var(--clr-gold);
            }
        }
    }
    img {
        max-height: 400px;
        border: 5px solid var(--clr-gold);
    }
}

