body {
    overflow-x: hidden;
    nav {
        z-index: 99;
    }
}
.header {
    width: 100vw;
    transform: translateX(-10%);
    max-height: 85vh;
    height: fit-content;
    overflow-y: hidden;
    position: relative;
    user-select: none;
    img {
        width: 100%;
    }
    .img__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 98%;
        background: linear-gradient(to right, #181818c0, #18181800);
        display: flex;
        flex-direction: column;
        padding: 8% 0 0 10vw;
        h1 {
            color: var(--clr-gold);
            font-family: 'Shadows Into Light', cursive;
            font-size: 1.6rem;
            font-weight: 100;
        }
        h2 {
            color: var(--clr-white);
            font-weight: 900;
            font-size: 2rem;
            width: 400px;
        }
        h3{
            color: var(--clr-text-gray);
            font-weight: 500;
        }
    }
}

.home {
    z-index: 9;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
    gap: 5%;
    transform: translateY(-20%);
    background-color: var(--clr-white);

    img {
        width: fit-content;
        height: fit-content;
        border-radius: 1rem;
    }

    .content {
        width: fit-content;
        max-width: 40%;
        color: var(--clr-text);
        p {
            font-size: .9rem;
            &:not(:first-child) {
                margin-top: 15px;
            }
        }
        h2 {
            font-size: 2rem;
            font-family: 'Shadows into', Arial, Helvetica, sans-serif;
            color: var(--clr-gold);
        }
    }
}

.locations {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    img {
        max-height: 500px;
        height: fit-content;
        border-radius: 1rem;
        z-index: 9;
    }
    .content {
        width: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 5%;
        border-right: 3px solid var(--clr-text);
        z-index: 9;
        p.location {
            color: var(--clr-text-red);
            text-transform: uppercase;
            font-weight: 700;
            font-size: 1.1rem;
        }
        p.time {
            font-style: italic;
            font-size: .9rem;
            &:not(:last-child) {
                margin-bottom: 30px;
            }
        }
    }

    .bg-text {
        position: absolute;
        font-size: 17rem;
        z-index: 0;
        color: var(--clr-bg);
        transform: rotate(-5deg) translateY(-20%);
        user-select: none;
    }
}

main .contact {
    margin: 150px 0 50px 0;
}

@media only screen and (max-width: 900px) {
    .locations {
        .content {
            border-right: unset;
        }
    }
}

@media only screen and (max-width: 800px) {
    .locations {
        flex-direction: column;
        align-items: center;
        gap: 30px;

        .bg-text {
            position: relative;
            order: -1;
            text-align: center;
            user-select: unset;
            transform: unset;
            color: var(--clr-gold);
            font-family: 'Shadows Into Light', cursive;
            font-size: 1.8rem;
            margin-bottom: 20px;
            font-weight: 700;
        }
    }
}

@media only screen and (max-width: 700px) {
    .header {
        transform: unset;
        .img__overlay {
            h1 {
                font-size: 1.2rem;
            }
            h2 {
                font-size: 1.6rem;
            }
            h3{
                font-size: .6rem;
            }
        }
    }
}

@media only screen and (max-width: 640px) {
    .header,
    .home,
    .locations {
        transform: translateY(100px);
    }
    
    .header {
        .img__overlay {
            display: none;
        }
    }

    .home {
        flex-direction: column;
        img {
            order: 2;
            margin-top: 30px;
        }
        .content {
            max-width: 90%;
        }
    }
    
    .locations {
        padding-top: 100px;
    }
}


@media only screen and (max-width: 360px) {
    .header {
        overflow: hidden;
        .img__overlay {
            padding: 8% 10vw 0 10vw;
            max-width: 100vw;
            height: 95%;
            background: #181818c0;
            h1 {
                font-size: 1.3rem;
            }
            h2 {
                font-size: 1.6rem;
                width: fit-content;
            }
            h3 {
                font-size: 1rem;
            }
        }
    }

    .locations {
        img {
            display: none;
        }
    }
}